// Place all the styles related to the Playlist controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	font-family: 'Orbitron', sans-serif;
	-webkit-font-smoothing: antialiased;
  	margin: 0px;
  	padding: 0px;
  	background-image: url("bg-4-smoke.jpg");
  	height: 100%;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

header {
	padding: 10px 5px 0px 5px;
}

.logo-head {
	width: 135px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.navbar-text.pull-right {
	padding-top: 5px;
	margin-top: 0px;
	font-size: 12px;
	color: #ffffff;
	float: right;
	width: 105px;
}

.navbar-link {
	color: #ffffff;
	margin: 0px;
}

.alert.alert-danger {
	text-align: center;
}

.alert.alert-success {
	color: #ffffff;
	font-size: 12px;
	padding-left: 15px;
	width: 50px;
}

h2 {
	font-size: 18px;
	color: #1CB954;
	text-align: center;
}

.field {
	text-align: center;
	opacity: 0.8;
	border: 1px;
	font-weight: 600;
}

.actions {
	text-align: center;
	opacity: 0.8;
	padding: 10px;
}

input[type=submit] {
	font-size: 15px;
	padding: 5px 15px;
	width: auto;
}

a {
	color: #ffffff;
	font-size: 12px;
}

.spotify-connect {
	font-size: 16px;
	color: #1CB954;
	text-align: center;
}