// Place all the styles related to the Playlist controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	// font-family: 'Orbitron', sans-serif;
	// -webkit-font-smoothing: antialiased;
  	// margin: 0px;
  	// padding: 0px;
  	// background-image: url("LOOKHEAR logo copy.png");
  	// height: 100%;
  	// background-repeat: no-repeat;
  	// background-size: cover;
  	background-color: #343a40;
}

.navbar {
	background-image: linear-gradient(to bottom right, #29a645, #353A3F 60%, #353A3F);
}

.collapse.navbar-collapse {
	margin-bottom: 20px;
}

.navbar-dark .navbar-nav .nav-link {
	color: white;
}

.nav-link {
	font-size: 12px;
}

.navbar-nav {
	height: 40px;
}

.alert.alert-danger {
	font-family: 'Orbitron', sans-serif;
	font-size: 18px;
    text-transform: uppercase;
	text-align: center;
	color: #29a645;
	background-color: #353A3F;
	border-color: #29a645;
}

.alert.alert-success {
	font-family: 'Orbitron', sans-serif;
	font-size: 18px;
    text-transform: uppercase;
	text-align: center;
	color: #29a645;
	background-color: #353A3F;
	border-color: #29a645;
}

h2 {
	font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    margin-top: 12px;
    margin-left: 50px;
    margin-bottom: 5px;
}

h3 {
	font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 5px;
    color: #29a645;
    text-align: center;
}

h5 {
	font-family: 'Orbitron', sans-serif;
	text-transform: uppercase;
	text-align: center;
	margin-top: 35px;
	margin-bottom: 15px;
	color: #756e6efc;
}

ul {
	margin-left: 5px;
	font-size: 12px;
	padding-top: 20px;
}

li {
	color: black;
	list-style-type: none;
}

li:before {
	content: '\2022';
	color: #29a645;
	padding-right: 0.5em;
}

.partners {
	text-align: center;
}

.jumbotron {
	background-color: #AFB0B2;
	text-align: center;
	margin-top: 30px;
	border-radius: 20px;
}

.btn.btn-secondary.btn-lg {
	background: #29a645;
	border-color: #343a40;
}

.btn.btn-primary.btn-lg {
	background: #343a40;
	border-color: #29a645;
}

label {
	color: #29a645;
	font-size: 12px;
	margin-bottom: 0px;
}

em {
	color: #29a645;
	font-size: 12px;
	margin-bottom: 0px;
}

.field {
	text-align: center;
	opacity: 0.8;
	font-weight: 600;
	height: 60px;
}

.actions {
  	text-align: center;
  	margin-top: 25px;
}

input {
	border-radius: 30px;
	border: none;
  	width: 220px;
  	height: 25px;
  	opacity: 0.6;
  	padding-left: 10px;
  	font-size: 16px;
  	color: #29a645;
}

.spotify-connect {
	font-size: 20px;
	text-align: center;
	height: 100px;
	margin-left: 465px;
	margin-right: 465px;
	line-height: 40px;
	background: transparent;
}

a {
	font-size: 18px;
	margin-left: 10px;
	color: white;
	text-align: center;
}


