<h3>We found songs with lyrics containing these concepts found in your photo:</h3>
<h5><%= @lyrics.titleize.split(' ').to_sentence %></h5>
<ul class="songs">
	<% @results.each do |result| %>
		<li>
			<%= link_to "#{result[:track_name]} by #{result[:artist_name]}", add_song_playlist_path(@playlist, {track_name: result[:track_name], artist_name: result[:artist_name]}) %>
				
		</li>
	<% end %>
</ul>
